:root {
  --primary-bg-color: silver;
  --primary-font-color: yellow;
  --secondary-bg-color: cadetblue;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: var(--primary-bg-color);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-bg-color);
}

a:active {
  color: var(--primary-font-color);
}
